.intro{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__info{
  display: flex;
  align-items: center;
}

.intro__data{
  margin: 0 18px 0 30px;
}

.intro__name{
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;

}

.intro__about{
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;

}

.intro__button-edit{
  border: 1px solid #FFFFFF;
  height: 24px;
  width: 24px;

}

.intro__button-add{
  border: 2px solid #FFFFFF;
  height: 50px;
  width: 150px;
  justify-self: end;
}