.intro{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__info{
  display: flex;
  align-items: center;
}

.intro__data{
  margin: 0 18px 0 30px;
}

.intro__name{
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;

}

.intro__about{
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;

}

.intro__button-edit{
  border: 1px solid #FFFFFF;
  height: 24px;
  width: 24px;

}

.intro__button-add{
  border: 2px solid #FFFFFF;
  height: 50px;
  width: 150px;
  justify-self: end;
}

/*POP UP de edición*/
.intro__popup-edit{
  position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex; /* Oculto por defecto -NONE */
      justify-content: center;
      align-items: center;
      visibility:hidden;
      transition: visibility 0.3s, opacity 0.3s;
}

.intro__popup-edit.active{
  visibility: visible;
}