.popup-edit {
  background: white;
  padding: 35px;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
}


.popup-edit__tittle {
  font-weight: 900;
  background-color: white;
  color: black;
  margin-bottom:30px ;
}

.popup-edit__input {
  color: #c4c4c4;
  background-color: white;
  height: 30px;
  border: 0;
  border-block-end: 1px solid;
}

.popup-edit__button{
  background-color: white;
  color: #c4c4c4;
  height: 50px;
  border: 1px solid;
  margin-top: auto;
}

.popup-edit__button:hover {
  background-color: black;
  color: white;
}